* {
    font-family: 'Open Sans', sans-serif; ;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

/* header */

.header {
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    /* border-bottom-color: darkblue; */
    border-bottom-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border {
    background:÷ linear-gradient(rgb(78, 0, 78),rgb(109, 0, 109), rgb(143, 0, 0));
    width: 100%;
    height: 5px;
}

.header h1 {
    font-family: 'IBM Plex Sans', sans-serif; 
    font-size: 25px;
    
}

.header h2 {
    /* position: relative; */
    margin: 5px;
    /* top: 30px; */
    /* width: 90%; */
    line-height: 1.1em;
    font-size: 14px;
    font-weight: 300;
    /* border-style: groove;
    border-width: 2px;
    border-color: grey; */
}

/* body {
    background-color: rgb(226, 225, 225);
} */

/* calendar */

.cal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* border-style: groove;
    border-width: 2px;
    border-color: grey; */
    margin: 15px auto;
    width: 90%;
    height: 450px;

}

.col {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 50px;
    margin: 1px;
    /* border-style: groove;
    border-width: 2px;
    border-color: grey; */
    order: 0;
}

.left {
    width: 10%; 
    border-style: dotted;
    border-width: 2px;
    border-color: lightgrey;
    border-right-style: dotted;
    border-left-style: none;
    border-bottom:none ;
    text-align: center;
}

.left h3 {
    padding-top: 13px;
    font-size: 13px;
    
}

.middle {
    width: 80%;
    border: none;
    background-color: white;
    text-align: center;
    /* border-bottom-color: white;
    border-bottom-style: solid; */
}

.right {
    width: 10%;
    font-size: 13px;
    background-color: rgb(11, 173, 173);
    border-style: solid;
    border-width: 2px;
    border-color:rgb(11, 173, 173) ;
    border-left-color: rgb(15, 160, 160);
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right:active {
    position: relative;
    left: 2px;
    border-left-style: solid;
    border-left-color: darkgray;
    border-left-width: 3px;
}

.complete {
    background: transparent;
    color: whitesmoke;

}

.past {
    background-color: rgba(100, 100, 100, 0.363);
    color: white;
    font-size: 15px;
}
.present {
    background-color: rgba(206, 47, 33, 0.808);
    color: white;
    font-size: 15px;
}

.future {
    background-color: rgba(33, 206, 70, 0.787);
    color: white;
    font-size: 15px;
}
